* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.cardHighlight {
  min-height: 100%;
}

.container {
  height: 350px;
  padding-top: 10px; 
} 

.circle {
  font: 100px "Arial Black";
  margin: 20px auto 0;
}

.Day-container {
  background-color: #99ffff; 
} 

.Day-circle {
  color: black; 
}


.Night-container {
  color: blue; 
}

.Night-circle {
  background-image: lightgray; 
}

button {
  border-radius: 15px; 
  margin-top: 100px; 
  font: 30px "Lobster Two";
} 

button:hover {
  background-color: #f2f2f2; 
  cursor: pointer;
  box-shadow: 2px 2px 5px grey;
}
